@media screen and (max-width:576px){
    .nav-container{
        min-height: 64px;
    }
    .menu-container{
        /* visibility: hidden; */
        display: none;
    }
    .logo-container{
        width: 100%;
    }
}